html, body {
  margin: 0;
  padding: 0;
}

.header {
  width: 1280px;
  border: 5px solid black;
}

.mad-face {
  display: inline-block;
  border-right: 5px solid black;
  padding: 20px 50px;
}

.mad-logo {
  display: inline-block;
  padding-top: -20px;
  margin-left: 225px;
  height: 20px;
}

.mad-logo img {
  padding-top: 0px;
}

.mad-logo h1 {
  margin-left: 150px;
  margin-top: 50px;
}

.wrapper {
  display: inline-block;
}

.input-section input {
  margin: 20px 100px 20px 125px;
  padding: 15px;
  border: 1px dotted black;
}

.alert {
  margin: 0 auto; 
  color: red;
  border: 1px solid red;
  text-align: center;
}

#lastInput {
  margin-bottom: 50px;
  border: 1px dotted black;
}

.border-bottom {
  border-bottom: 3px solid black;
}

.submit-button, .reset-button {
  width: 100px;
  margin: 10px 44%;
  text-align: center;
}

.madlib {
  margin: 40px auto;
}

.madlib span {
  text-decoration: underline;
}

.madlib p {
  font-size: 24px;
}

p span {
  font-size: 20px;
  font-style: bold;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0 5px;
}

.form {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  opacity: 1;
}

.fade {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  opacity: 0.2; 
}

